@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    list-style-type:none;
    height: 65px     ;
    background-color:white;
}
.brand img{
    width: 44px;
}